.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.app__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.QuoteBox__container {
  max-width: 60vw;
  min-width: 40vw;
  min-height: 20vh;
  max-height: max-content;
}
.QuoteBox__container__card {
  padding: 40px;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.QuoteBox__container__card div:last-child {
  display: flex;
  justify-content: space-between;
}
