.watchCointainer {
  border: 1px solid #999;
  height: 250px;
  width: 550px;
  border-radius: 10px;
  position: relative;
}
.watchCointainer__headers {
  border-bottom: 1px solid #999;
  padding: 5px 0;
  height: 50px;
}
.watchCointainer__headers__timer,
.watchCointainer__headers__stopwatch {
  cursor: pointer;
}

.watchCointainer__footer {
  position: absolute;
  bottom: 0;
  text-align: start;
  padding: 10px;
  border-top: 1px solid #999;
}
